 {% extends "base.html.twig" %}

 {% block title 'Agence lorem' %}

 {% block body %}
    <div class="jumbotron text-center">
       
            <h1>Agence Lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fuga architecto, officiis, nam nesciunt deleniti, iste exercitationem nostrum porro magni mollitia. Deserunt asperiores minima eius deleniti praesentium voluptate minus debitis?</p>
    </div>
    

 {% endblock %}

